

<!DOCTYPE html>
<html>
  <head>
      <%- include includes/head.ejs-%>
  </head>
  <body>
      <%- include includes/header.ejs -%>
      <%- include includes/contact.ejs -%>
      <%- include includes/footer.ejs -%>
      <%- include includes/scripts.ejs -%>
      <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
  </body>
</html>


